<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">


  <title>Vue Weather</title>
</head>


<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <v-layout align-center justify-center row fill-height>
            <v-flex xs12 sm6 md3>
              <v-text-field label="Zip Code" v-model="zip"/>
            </v-flex>
            <v-btn color="error" @click="getWeather">Get Forecast</v-btn>
          </v-layout>
          <!-- <v-flex xs12 sm6 md3><div>humidity: {{ humidity }} </div></v-flex>
          <v-flex xs12 sm6 md3><div>pressure: {{ pressure }} </div></v-flex>
          <v-flex xs12 sm6 md3><div>temp: {{ temp }} </div></v-flex> -->
          <v-layout align-center justify-center row fill-height v-if="city">
          <v-card>
            <v-card-title id="theCity" class="my-0 pb-0 mb-0">
              <h1>{{ city }}</h1>
              </v-card-title>
              <v-card-text class="text-xs-center pt-0 pb-0 mt-0">
              <img v-bind:src="icon">
              </v-card-text>
              <v-divider></v-divider>
            <v-layout row justify-center align-center fill-height>
            <v-card-text class="mx-3 px-auto" v-for="thing of things"><h3>{{ thing.value }}{{ thing.type }} </h3>
              </v-card-text>
              </v-layout>
              
          </v-card>
          </v-layout>

          <v-layout align-center justify-center row fill-height v-if="city">
            <div v-for="day of forecastDays">
              <v-card class="mt-3">
                <v-card-title>
                  {{day.date}}
                </v-card-title>
                <v-card-text class="text-xs-center pt-0 pb-0">
                  <img v-bind:src="day.icon">
                </v-card-text>
                <v-divider></v-divider>
                <v-card-text class="text-xs-center"><h3>{{day.temp}}F</h3><h3>{{day.desc}}</h3></v-card-text>
              </v-card>
            </div>
          </v-layout>
          <!-- <div v-for="day of forecastDays">
            <v-flex xs12 sm6 md3><div>{{ day.date }}: {{ day.high }} </div></v-flex>
          </div> -->
        </v-container>
      </v-content>
    </v-app>
  </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  let app = new Vue({
    el: '#app',
    data: {
      zip: '',
      apiKey: '304fdfd3359963ec37c38ac63b371eec',
      humidity: '',
      desc: '',
      city:'',
      icon:'#',
      temp: '',
      things: [],
      forecastDays: [],
    },
    methods: {
      getWeather() {
        const self = this;
        function capitalizeEachWord(str) {
              return str.replace(/\w\S*/g, function (txt) {
                return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
              });
            }
        this.things=[]
        this.forecastDays=[]
        // Function to get the current weather
        axios.get(`https://api.openweathermap.org/data/2.5/weather?zip=${this.zip},us&units=imperial&APPID=${this.apiKey}`)
          .then(response => {
            const data = response.data
            
            self.things.push({ value: Math.round(data.main.temp), type: "F" })
            self.things.push({ value: data.main.humidity, type: '% Humidity' })
            self.things.push({ value: capitalizeEachWord(data.weather[0].description) })
            self.city=data.name
            self.icon= `https://openweathermap.org/img/w/${data.weather[0].icon}.png`
            // self.humidity = main.humidity
            // self.pressure = main.pressure
            // self.temp = main.temp
          })
          .catch(err => {
            console.log('Failed to get weather info from api: ', err);
          })

          // Function to get forecast weather
          axios.get(`https://api.openweathermap.org/data/2.5/forecast?zip=${this.zip},us&units=imperial&APPID=${this.apiKey}`)
            .then(response => {
              var forecastArray=[0,8,16,24,32]
              const forecastList = response.data.list
              for(var i=0; i<5;i++){
                console.log(forecastList[forecastArray[i]])
                self.forecastDays.push(
                  {
                    date:forecastList[forecastArray[i]].dt_txt,
                    temp: Math.round(forecastList[forecastArray[i]].main.temp),
                    icon: `https://openweathermap.org/img/w/${forecastList[forecastArray[i]].weather[0].icon}.png`,
                    desc: capitalizeEachWord(forecastList[forecastArray[i]].weather[0].description)
                })
              }
            })
          // this.getForecast()
      }
    },
    computed: {},
    created() {}
  })
</script>
<style>
#theCity{
  justify-content: center;
}
</style>



</html>